/*****for tag dialog *******/
#tagDialogBar {
    width:100%;
}
#tagDialogCloser{
  color:grey;
  cursor:pointer;
}

#tagDialogCloserBar{
  padding-left:80%;    
}
#tagDialogContent {
  margin:auto;
  margin-top:10px;
}
#tagDialog {
  text-align:center;
  background-color:#EDEDED;
  width:200px;
  height:150px;
  display:none;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border: 1px inset #B5B1B1;
  z-index:1;
}
#tagDialogButtonContainer {margin-top:18px;}
#tagDialogColorSelectionTab{
  margin-bottom:5px;
    margin-left:55px;

}
.colorBox {
  margin-right: 0px; 
  float:left;
  width:15px;
  height:15px;
}

#boxRed {background-color:red;}
#boxOrange {background-color:orange;}
#boxYellow {background-color:yellow;}
#boxGreen {background-color:green;}
#boxBlue {background-color:blue;}
#boxPurple {background-color:purple;}
#tagDialog.tagDialog-active {display:block;}
.colorBox-highlighted {    border: 2px solid black;}



