body {
  margin: 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

.stackv-graphic {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc; }
  .stackv-graphic .node-wrapper {
    cursor: pointer; }
    .stackv-graphic .node-wrapper path {
      stroke: transparent;
      stroke-width: 30;
      transition: stroke 0.25s; }
    .stackv-graphic .node-wrapper.user-highlight path {
      stroke: #F48FB1; }
  .stackv-graphic .convex-hull {
    cursor: pointer; }
  .stackv-graphic .node-link {
    stroke: #000;
    stroke-width: 2px; }

.popover-container {
  user-select: text; }
  .popover-container .close-x {
    position: absolute;
    top: -11px;
    right: -11px;
    width: 23px;
    height: 23px;
    border: 2px solid #eef5df;
    border-radius: 50%;
    background-color: #9E9E9E; }
  .popover-container .close-x::before, .popover-container .close-x::after {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 13px;
    height: 3px;
    content: "";
    background-color: #eef5df;
    display: block; }
  .popover-container .close-x::before {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .popover-container .close-x::after {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .popover-container .close-x:hover {
    cursor: pointer;
    background-color: #ff5248; }

.switch-container,
.services-container {
  position: absolute;
  height: 40px;
  transform: translateX(-50%);
  background: rgba(224, 224, 224, 0.75);
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  display: flex; }

.services-container {
  padding-right: 10px; }

.switch-ports,
.services-ports {
  height: 100%; }

.switch-ports img {
  width: 35px;
  height: 40px;
  transition: background 0.25s; }

.switch-ports img:hover {
  background: rgba(189, 189, 189, 0.8); }

.switch-ports img.user-highlight {
  background: #C5CAE9; }

.services-ports img {
  width: 35px;
  height: 40px;
  padding: 0 2px;
  transition: background 0.25s; }

.services-ports img:hover {
  background: rgba(189, 189, 189, 0.8); }
