div.acl-panel {
    position: absolute;
    top: 50px;
    height: 90%;
    width: 90%;
    overflow: hidden;
    padding: 5px 5px;
}

.acl-div {
    display: block;
    max-height: 400px;
    overflow: scroll;
}

tr.acl-selected-row {
    font-weight: bold;    
}

div.left-tab{
    position: absolute;
    left: 0;
    height:90px;
    width:45px;
    border-radius: 0 90px 90px 0;
    -moz-border-radius: 0 90px 90px 0;
    -webkit-border-radius: 0 90px 90px 0;
    background:#f7f7f7;     
}
div.right-tab{
    position: absolute;
    right: -45px;
    height:90px;
    width:45px;
    border-radius: 90px 0 0 90px;
    -moz-border-radius: 90px 0 0 90px;
    -webkit-border-radius: 90px 0 0 90px;
    background:#f7f7f7;     
}

#acl-row {
    font-size: 1.25em;   
}

/* Role Panel */
div#acl-role-panel {
    right: 100%;   
    overflow: hidden;
}
div#acl-role-panel.opened {
    right: 5%;
}

#acl-role-user-div {
    overflow: scroll;
    height: 100%;
    padding-right: 5px;
    width: 45%;
    position: absolute;
}

#acl-role-group-div {
    overflow: scroll;
    height: 45%;
    padding-right: 5px;
    width: 45%;
    position: absolute;
    right: 0;
}

#acl-role-role-div {
    overflow: scroll;
    height: 45%;
    padding-right: 5px;
    width: 45%;
    position: absolute;
    top: 55%;
    right: 0;
}

#acl-role-role-div.closed, #acl-role-group-div.closed {
    right: 100%;
}


/* Instance Panel */
div#acl-instance-panel {
    left: 100%;
    overflow: hidden;
}

#acl-instance-table {
    max-height: 50%;
}

#acl-instance-acl {
    max-height: 50%;    
    position: relative;   
    overflow: scroll;
    margin-top: 10px;
    bottom: -100%;
}

#acl-instance-acl-existing {

}
#acl-instance-acl-new {
    margin-top: 10px;
}

#acl-instance-acl::-webkit-scrollbar {
    display: block;
}

#acl-select {
    width: 100%;    
}