div.acl-panel {
    position: absolute;
    top: 52px;
    height: calc(90% - 52px);
    width: 90%;
    padding: 5px 5px;
}

.acl-div {
    display: block;
    max-height: 400px;
    overflow: scroll;
}

tr.acl-instance-selected-row, tr.acl-role-selected-row {
    font-weight: bold;    
}

div.left-tab{
    position: absolute;
    top: 20%;
    left: 0;
    height:90px;
    width:45px;
    border-radius: 0 90px 90px 0;
    -moz-border-radius: 0 90px 90px 0;
    -webkit-border-radius: 0 90px 90px 0;
    background:#f7f7f7;     
}
div.right-tab{
    position: absolute;
    top: 20%;
    right: 0;
    height:90px;
    width:45px;
    border-radius: 90px 0 0 90px;
    -moz-border-radius: 90px 0 0 90px;
    -webkit-border-radius: 90px 0 0 90px;
    background:#f7f7f7;     
}

#acl-row {
    font-size: 1.25em;   
}

/* Role Panel */
div#acl-role-panel {
    right: 100%;   
    overflow: hidden;
}

#acl-role-user-div, #acl-group-role-div {
    overflow: scroll;
    height: 95%;
    padding-right: 5px;
    width: 45%;
    position: absolute;
    left:5px;
}
div#acl-group-role-div {
    left: -100%;
}

#acl-role-group-div, #acl-role-role-div {
    overflow: scroll;
    height: 45%;
    padding-right: 5px;
    width: 45%;
    position: absolute;
    right: 0;
    bottom: -45%;
}

/* Instance Panel */
div#acl-instance-panel {
    left: 100%;
    overflow: hidden;
}

#acl-instance-acl {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 10px;
    bottom: -100%;
}

#acl-instance-acl-existing {

}
#acl-instance-acl-new {
    margin-top: 10px;
    max-height: 300px;
}

#acl-select {
    width: 100%;    
}


#acl-instance-table {
    display: block;
    width: 90%;
    margin: auto;
}

#acl-instance-table thead {
    display: -webkit-flex;
    -webkit-flex-flow: row;
}

#acl-instance-table thead tr {
    padding-right: 15px;
    display: -webkit-flex;
    width: 100%;
    -webkit-align-items: stretch;
}

#acl-instance-table tbody {
    display: -webkit-flex;
    height: 50vh;
    overflow-y: scroll;
    transition: height 1s;
    -webkit-flex-flow: row wrap;
}
#acl-instance-table tbody.acl-instance-selected {
    height: 46px;
}

#acl-instance-table tbody tr{
    display: -webkit-flex;
    width: 100%;
}

#acl-instance-table tr td, #acl-instance-table tr th {
    width: 100%;
}