div#admin-panel {
    padding: 30px 7% 30px 7%;
    height: calc(100% - 52px);
    width: 100%;
    position: absolute;
    overflow-y: hidden;
    opacity: 0;
    display: none;
}

#logging-header-div {
    background: url(/StackV-web/img/noise-diagonal.png), linear-gradient(#46586d, #364454);
    box-shadow: inset 0 1px 0 #a2b1c3;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
    outline: 1px solid black;
    height: 54px;
}

#API-header-div {
    background: url(/StackV-web/img/noise-diagonal.png), linear-gradient(#46586d, #364454);
    box-shadow: inset 0 1px 0 #a2b1c3;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
    outline: 1px solid black;
    height: 54px;
}


#filter-level-div {
    float: right;
}

#filter-search-input {
    width: 200px;
    display: inline;
    margin-left: 20px;
    padding-right: 25px;
}
#filter-search-clear {
    position: relative;
    right: 25px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#logging-body-div {
    padding: 15px;
    background: white;
    height: calc(100% - 40px);
}

#log-div {
    background: white;
    padding: 10px 20px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.35);
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

/*
#log-div::-webkit-scrollbar {
    display: block;
}
#log-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
#log-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #95A8BF;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
*/

td.details-control {
    background: url('../img/dataTables/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../img/dataTables/details_close.png') no-repeat center center;
}

#api_result {
    width: 75%;
    min-height: 300px;
}

.typeahead{
    width: 100%;
}




