.clipbook-data {
  margin: 3%;
}

.clipbook-data a {
  font-size: 1.2em;
  cursor: pointer;``
}
.clipbook-data p {
  font-size: 1.2em;
}
.clipbook-data div.clip-text {
  color: #888888;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: .8em;
}

.clipbook-data .clipbook-add {
  margin: 15px;
}
.clipbook-data .clipbook-list {
  margin-bottom: 15px !important;
  overflow: auto;
  max-height: 300px;
}

.clipbook-data button {
  float: right;
  margin: 0 5px 0 0;
}
