div#details-panel {
    padding: 0 10px;
    height: calc(100% - 20px);
    left: calc(5% + 40px);
    width: calc(90% - 80px);
    position: absolute;
    overflow-y: scroll;
    top: -100%;
}

.details-table, .verification-table {
    margin-bottom: 20px;
}

#service-delta-table, #system-delta-table {
    /*top: -100%;*/
    position: relative;
}

tr.instruction-row {
    vertical-align: top;
    height: 80px;
    font-size: 1.2em;
}
tr.button-row {
    height: 51px;
}

/* 
    Visualization tab styling 
*/
.viz-hdr{
  color:inherit;
  text-decoration: none;
 }

#table-tab{
    transition: all 1000ms;    
}
.viz-table {
    width:100%;
    height:30%;   
    transition: all 1000ms;   
}

.viz-cell {
  width : 50%;
  height:100%;
}

.viz-tab-content {
    height: 100%;
}

.expanded-viz-vid {
    height:93%;
}