div#details-panel {
    padding: 0 10px;
    height: calc(100% - 20px);
    left: calc(5% + 40px);
    width: calc(90% - 80px);
    position: absolute;
    overflow-y: scroll;
    top: -100%;
}

.details-table, .verification-table {
    margin-bottom: 20px;
}

#service-delta-table, #system-delta-table {
    /*top: -100%;*/
    position: relative;
}

tr.instruction-row {
    vertical-align: top;
    height: 80px;
    font-size: 1.2em;
}
tr.button-row {
    height: 51px;
}

/* 
    Visualization tab styling 
*/
a.viz-hdr{
  color:inherit;
  text-decoration: none;
 }

#table-tab{
    transition: all 1000ms;    
}
.viz-table {
    width:100%;
    height:10%;   
    transition: all 1000ms;   
}

.viz-cell {
  width : 50%;
  height:100%;
}

.viz-tab-content {
    height: 100%;
}

.expanded-viz-div {
    height:93%;
}

pre.expanded{
   width: inherit;
   height: inherit;
   white-space: pre-wrap; 
}

.details-viz-pre{
  white-space: pre-wrap; 
}

#log-div {
    background: white;
    padding: 10px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.35);
    height: 150px;
    overflow-y: scroll;
}

#log-div details p {
    margin: 0;
    padding-left: 3%;
}
#log-div details p:last-child {
    padding-bottom: 15px;
}

#log-div::-webkit-scrollbar {
    display: block;
}
#log-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
#log-div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #95A8BF;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}