div#driver-add-panel, div#installed-panel, div#driver-template-panel {
    padding: 30px 10% 30px 10%;
    height: calc(100% - 52px);
    width: 100%;
    position: absolute;
    overflow-y: hidden;
}
div#installed-panel {
    top: -100%;
    left: 0;
}

/* 
- Should hide the scrollbar in the installed-content div
    - The overflow-y property is automatically set to auto by browswer
    - This should override that property
- The scrollbar issue only affects browsers (Chrome, Safari) based on WebKit. 
Ex. FireFox does not run into the scrollbar issue since it's based on Gecko
*/

div#driver-add-panel {
    left: -100%;
    text-align: left;
}
div#driver-template-panel {
    right: 0%;
}
#driver-content-panel {
    top: 5%;
    width: 60%;
    height: 80%;
    position: absolute;
    left: 20%;
    z-index: 10;
}

#dialog-overflow-details-text {
    word-wrap: break-word;
}

.ui-dialog > .ui-widget-header {
    background: '#333'
}


.tooltip-inner {
    word-break: break-all;
    max-width: 80%;
 }

#install-content input {
    width: 80%;
}

.driver-panel {
    padding: 10px 10px 0 10px;
    left: 65px;
    height: 70%;
    position: absolute;
}

.no-side-tab {
    width: 88%;
}
.side-tab{
    width: 55%;
}
#driver-panel-top {
    top: 50px;
}
#driver-panel-bot {
    bottom: 0;
}
#driver-panel-right {
    padding: 10px 10px 0 10px;
    top: 50px;
    right: 0;
    height: 93%;
    position: absolute;
}
.inactive{
    width: 0%;
}
.active-detail{
    width: 40%;
}

.driver-tab-table {
    float: left;
    width: calc(100% - 40px);
    margin: 20px;
    max-height: 100%;
}

.divider{
    width:25px;
    height:auto;
    display:inline-block;
}
.button-head {
    width: 160px
}
#overlay-black {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.6;
    filter     : alpha(opacity=60);
    z-index    : 1;
    display    : none;
}

#drivername.invalid {
    border: 1px solid red;
    color: red;
}