/*
* Filename: ops.css
* Created by: Andrew Gu 2017
* Purpose: Contains styling for pages in /ops/ folder that isn't in catalog.jsp.
* Also contains styles that are referenced in multiple pages in the ops folder - may also be referenced in other pages.
*/



div#service-title {
    font-weight: bold;
    text-align: left;
    color: #ffffff;
}
div#service-menu {
    margin: 1% auto;
    width: 65%;
}
div#service-specific {
    margin: 5% auto;
    width: 80%;
}
/*This class is also referenced in pages in the /usr/ folder!*/
div.form-result {
    background: url(/StackV-web/img/noise-diagonal.png), linear-gradient(#ddd, #aaa);
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    margin: 20% 30%;
    font-weight:bold;
}

/*This table is also referenced in other folders!*/
.management-table {
    background: #ffffff;
    border-collapse: collapse;
    box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.4);
    border-spacing: 0;
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
}
table.management-table#jobs-table {
    background: #f5f5f5;
    border-collapse: separate;
    box-shadow: inset 0 1px 0 #fff;
    font-size: 12px;
    line-height: 24px;
    text-align: left;
    width: 100%;
}

table.management-table thead {
  position:sticky;
  top:0;
  z-index:3;
  outline:1px solid black;
}
table.management-table tfoot {
  position:sticky;
  bottom:0;
  z-index:3;
  outline:1px solid black;
}

table.management-table th {
    background: url(/StackV-web/img/noise-diagonal.png), linear-gradient(#46586d, #364454);

    box-shadow: inset 0 1px 0 #a2b1c3;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
}
table.management-table th:first-child {

    box-shadow: inset 1px 1px 0 #a2b1c3;
}
table.management-table th:not(:first-child) {
    border-right: 1px solid #a2b1c3;
    box-shadow: inset 1px 1px 0 #a2b1c3;
}
table.management-table th:last-child {
    border-right: none;
    box-shadow: inset -1px 1px 0 #a2b1c3;
}
table.management-table td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    position: relative;
    transition: all 1000ms;
}
table.management-table td:first-child {
    box-shadow: inset 1px 0 0 #fff;
}
table.management-table td:last-child {
    border-right: 1px solid #e8e8e8;
    box-shadow: inset -1px 0 0 #fff;
}
table.management-table td button {
    margin-right: 5px;
}
table.management-table tr {
    background: url(/StackV-web/img/noise-diagonal.png);
}
table.management-table tr:nth-child(odd) td {
    background: #fafafa url(/StackV-web/img/noise-diagonal.png);
}
table.management-table tr:last-of-type td {
    box-shadow: inset 0 -1px 0 #fff;
}
table.management-table tr:last-of-type td:first-child {
    box-shadow: inset 1px -1px 0 #fff;
}
table.management-table tr:last-of-type td:last-child {
    box-shadow: inset -1px -1px 0 #fff;
}

button#button-service-return {
    color: #B60000;
    margin-left: 75%;
    position: relative;
}
button.button-service-apply {
    color: #B60000;
    position: relative;
}

div.view-flag {
    display: inline-block;
    margin-right: 10px;
}
input#sparquery {
    font-weight: bold;
}
select#model-select {
    width: 300px;
}
input.header-input {
    color: black;
}
tbody.delta-table-body {
    vertical-align: top;
}

/*Select menu and inline label*/
label[for="refresh-timer"] {
    margin-right: 5px;
}
select#refresh-timer {
    color: #333;
    height: inherit;
    font-weight: 400;
    margin-right: 5px;
}

/*This shouldn't be an ID - should be a class*/
div#loading-panel {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: transparent url('/StackV-web/resources/small-loading.gif')
        no-repeat 50% 16px;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity .75s ease-in;
    -moz-transition: opacity .75s ease-in;
    -o-transition: opacity .75s ease-in;
    -ms-transition: opacity .75s ease-in;
    transition: opacity .75s ease-in;

    opacity: 0;
    position: absolute;
    width: 32px;
    height: 62px;
    left: calc(50% - 16px);
    top: 37px;
    z-index: 10;
}

div#info-panel {
    top: -75%;
    width: 60%;
    left: 20%;
    padding: 20px 10px 30px 10px;
    margin: 10px auto;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 4;
    font-size: .9em;

    transition: all .5s ease-out;
}
div#info-panel.active {
    top: 15%;
}
div#mode-panel {
    top: 20%;
    left: 35%;
    width: 30%;
    padding: 20px 10px 30px 10px;
    margin: 10px auto;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 5;
    font-size: 1.1em;
    transition: all 1s ease;
}
div#mode-panel input {
    margin: 1px 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 90%;
    box-sizing: border-box;
    color: #2C3E50;
}
div#mode-panel .action-button {
    width: 30%;
    background: #50657c;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

    transition: all .5s ease;
}
div#mode-panel .action-button:hover, div#mode-panel .action-button:focus {
    background: #8398af;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #50657c;
}

form.stageform {
    bottom: 0%;
    width: 700px;
    margin: 50px auto;
    text-align: center;
    position: relative;

    transition: all 1s ease;
}
form.stageform.disabled {
    bottom: -100%;
}
form.stageform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    display: none;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    margin-bottom: 20px;

    box-sizing: border-box;
    width: 100%;

    /*stacking fieldsets above each other*/
    position: relative;
}
form.stageform .subfs {
    width: 100%;
    position: relative;
    left: 0px;
    top: 110%;
    padding-left: 0px;
    padding-right: 0px;
    display: block;
}
form.stagediv.active-div, form.stageform .active-fs {
    display: block;
}
form.stageform input, form.stageform textarea {
    margin: 1px 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 90%;
    box-sizing: border-box;
    color: #2C3E50;
}

form.stageform input.invalid {
    border: 1px solid red;
    color: red;
}

form.stageform .small-counter {
    width: 12%;
    margin-left: 10px;
}

form.stageform label {
    margin: 10px 20px;
    float: left;
    font-size: 90%;
    font-weight: inherit;
}

/*buttons*/
form.stageform .action-button {
    width: 30%;
    background: #50657c;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;

    transition: all .5s ease;
}
form.stageform .action-button:hover, form.stageform .action-button:focus {
    background: #8398af;
    box-shadow: 0 0 0 2px white, 0 0 0 3px #50657c;
}

table.subfs-table {
    width: 100%;
    margin-bottom: 10px;
}

table.subfs-table th {
    padding-left: 20px;
}

table.subfs-table td {
    padding-top: 5px;
}

table.subfs-table tr.subfs-headrow {
    border-top: 1px solid #969696;
    border-bottom: 1px solid #969696;

    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
}

tr.subfs-headrow.closed {
    color: #ffffff;
    background-color: #50657c;
}

/*text*/
.fs-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
}
.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}
.fs-subtext {
    font-size: 13px;
    padding: 0px 20%;
    margin-bottom: 5px;
}

/*table*/
table.fs-table {
    border: none;
    width: 100%;
}

table.fs-table td {
    padding-bottom: 10px;
    text-align: left;
}

/*progressbar*/
ul#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    padding: 0;
    /*CSS counters to number the steps*/
    counter-reset: step;
}
ul#progressbar li.disabled {
    color: black;
}
ul#progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 9px;
    float: left;
    position: relative;
    transition: all 1s ease;
}
ul#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: white;
    background: #242d38;
    border-radius: 3px;
    margin: 0 auto 5px auto;
    transition: all 1s ease;
}
/*progressbar connectors*/
ul#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #242d38;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
    transition: all 1s ease;
}
ul#progressbar li.invalid {
    color: red;
}
ul#progressbar li.invalid:before, ul#progressbar li.invalid:after {
    color: white;
    background: red;
}
ul#progressbar li.active.invalid:before {
    color: white;
    background: red;
}
ul#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
ul#progressbar li.active:before,  ul#progressbar li.active:after{
    background: white;
    color: #333;
}

ul#progressbar li.disabled:before {
    background: #060709;
    opacity: .5;
}
ul.vcn-progress li, ul.hc-progress li {
    width: 14.2%;
}
