/*

Box shadow 1:   box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.4);

Color Codes: GENERAL - Hue 212

Nav: rgba(20,25,31,.75)

Dark Blue 1: #364454
Hover - #637E9C
Darkened - #222b35

Dark Blue 2: #242d38

Dark Blue 3: #060709

Normal Blue: #50657c
Hover - #8398af

Light Blue: #5297e0


Dark Blue Text: #2C3E50
*/

/*
Z-indexes:

loading-panel: 10
nav: 6
sidebar-toggle: 5
mode-panel: 5
sidebar: 4
info-panel: 4
black-screen: 3

*/

/*Universal style files*/
@import "animate.min.css";
@import "font-awesome.min.css";
@import "bootstrap.css";





@import "global.css";
@import "navigation.css";
@import "visualization.css";
@import "catalog.css";
@import "driver.css";
@import "usr.css";
@import "ops.css";


















/*.tab-table {
float: left;
width: calc(100% - 40px);
margin: 20px;
max-height: 100%;
}*/




/* Animations */













/*form styles*/


.fade-hide {
  display: none;

  opacity: 0;
  transition: opacity 1s ease;
}

.subfs-table {
  width: 100%;
  margin-bottom: 10px;
}

.subfs-table th {
  padding-left: 20px;
}

.subfs-table td {
  padding-top: 5px;
}

.subfs-table .subfs-headrow {
  border-top: 1px solid #969696;
  border-bottom: 1px solid #969696;

  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
}

.subfs-headrow.closed {
  color: #ffffff;
  background-color: #50657c;
}

/*inputs*/


/*text*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
.fs-subtext {
  font-size: 13px;
  padding: 0px 20%;
  margin-bottom: 5px;
}

/*table*/
.fs-table {
  border: none;
  width: 100%;
}

.fs-table td {
  padding-bottom: 10px;
  text-align: left;
}



/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  padding: 0;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#progressbar li.disabled {
  color: black;
}
#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  float: left;
  position: relative;
  transition: all 1s ease;
}
.vcn-progress li, .hc-progress li {
  width: 14.2%;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: white;
  background: #242d38;
  border-radius: 3px;
  margin: 0 auto 5px auto;
  transition: all 1s ease;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #242d38;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
  transition: all 1s ease;
}
#progressbar li.invalid {
  color: red;
}
#progressbar li.invalid:before, #progressbar li.invalid:after {
  color: white;
  background: red;
}
#progressbar li.active.invalid:before {
  color: white;
  background: red;
}


#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: white;
  color: #333;
}

#progressbar li.disabled:before {
  background: #060709;
  opacity: .5;
}
