/*

Box shadow 1:   box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.4);

Color Codes: GENERAL - Hue 212

Nav: rgba(20,25,31,.75)

Dark Blue 1: #364454
Hover - #637E9C
Darkened - #222b35

Dark Blue 2: #242d38

Dark Blue 3: #060709

Normal Blue: #50657c
Hover - #8398af

Light Blue: #5297e0


Dark Blue Text: #2C3E50
*/

/*
Z-indexes:

loading-panel: 10
nav: 6
sidebar-toggle: 5
mode-panel: 5
sidebar: 4
info-panel: 4
black-screen: 3

*/

/*External libraries*/
@import "animate.min.css";
@import "font-awesome.min.css";
@import "bootstrap.min.css";
@import "dataTables/jquery.dataTables.css";
@import "dataTables/dataTables.bootstrap.min.css";
@import "dataTables/dataTables.fixedColumns.min.css";
@import "dataTables/scroller.bootstrap.css";

/*Custom styles*/
@import "global.css";
@import "navigation.css";
@import "visualization.css";
@import "catalog.css";
@import "driver.css";
@import "usr.css";
@import "ops.css";
@import "acl.css";
@import "details.css";
@import "admin.css";
