/*

Box shadow 1:   box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.4);

Color Codes: GENERAL - Hue 212

Nav: rgba(20,25,31,.75)

Dark Blue 1: #364454
Hover - #637E9C
Darkened - #222b35

Dark Blue 2: #242d38

Dark Blue 3: #060709

Normal Blue: #50657c
Hover - #8398af

Light Blue: #5297e0


Dark Blue Text: #2C3E50
*/

/*
Z-indexes:

loading-panel: 10
nav: 6
sidebar-toggle: 5
mode-panel: 5
sidebar: 4
info-panel: 4
black-screen: 3

*/

/*External libraries*/
@import "animate.min.css";
@import "font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700";

/* Bootstrap */
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css";

/* Jquery */
@import "https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css";

/* DataTables */
@import "https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/fc-3.2.4/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.css";

/* Misc */
@import "sweetalert.css";

/*Internal styles*/
@import "global.css";
@import "navigation.css";
@import "visualization.css";
@import "catalog.css";
@import "driver.css";
@import "usr.css";
@import "ops.css";
@import "acl.css";
@import "details.css";
@import "admin.css";
@import "intent.css";
