/*
 * Filename: usr.css
 * Created by: Andrew Gu 2017
 * Purpose: Contains styling for pages in /usr/ folder
*/

table#group-overview-table {
    width: 400px;
}
table#edit-table {
    margin:10% auto;
    font-size: 12px;
    width: 400px;
}
table#service-table {
    margin: 7% auto;
    width: 80%;
}
table#service-table td:last-child {
    width: 75px;
    text-align: right;
}
table#service-group-table {
    width: 75%;
}
table#service-group-table td:last-child {
    width: 130px;
    text-align: right;
}
table#service-user-table {
    width: 75%;
}
table#service-user-table td:last-child {
    width: 130px;
    text-align: right;
}
table#registration-table {
    margin-top:10%;
    font-size: 13px;
    text-align: center;
    width: 40%;
}

table#registration-table th {
    text-align: center;
    font-size: 14px;
}
form#button-add-users {
    font-size: 12px;
    margin-left: 7%;
    text-align: left;
}
