<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" package="net.maxgigapop.mrs.rest.api" name="StackV-Logging">
    <Appenders>
        <Console name="InterceptorOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%logger{1}: %X{username}:%X{method}>%X{role} %X{objectid} [%marker] - %msg - %X{severity}%n" />
        </Console>
        <Console name="APIOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%logger{1}: %X{module}.%X{method} %X{refuuid}: %X{objectid} [%marker] - %msg - %X{severity}: %ex{5}%n" />
        </Console>
        
        <JDBC name="MySQL" tableName="frontend.log">
            <DataSource jndiName="java:jboss/datasources/MysqlDS" />
            <Column name="marker" pattern="%marker" />
            <Column name="timestamp" pattern="%d{DEFAULT}" />
            <Column name="level" pattern="%level" />
            <Column name="logger" pattern="%logger" />
            <Column name="message" pattern="%message" />
            <Column name="exception" pattern="%ex" />
            <Column name="severity" pattern="%X{severity}" />                       
            <Column name="module" pattern="%X{module}" />
            <Column name="method" pattern="%X{method}" />
            <Column name="referenceUUID" pattern="%X{refUUID}" />
        </JDBC>      
    </Appenders>
    <Loggers>
        <AsyncLogger name="net.maxgigapop.mrs.rest.api.WebResource" level="info" additivity="false">
            <AppenderRef ref="APIOut" />
            <AppenderRef ref="MySQL" level="info" />
        </AsyncLogger>
        <AsyncLogger name="net.maxgigapop.mrs.rest.api.SecurityInterceptor" level="info" additivity="false">
            <AppenderRef ref="InterceptorOut" />
        </AsyncLogger>
        <Root level="warn">
            <AppenderRef ref="APIOut" />
        </Root>
    </Loggers>
</Configuration>