<?xml version="1.0" encoding="UTF-8"?>
<Configuration package="net.maxgigapop.mrs.rest.api" status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>        
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" />            
        </Root>
    </Loggers>
</Configuration>