@import "https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/b-html5-1.5.1/fc-3.2.4/r-2.2.1/sc-1.4.4/sl-1.2.5/datatables.min.css";

.row-trace.even {
    background-color: #e4ffd1 !important;
}
.row-trace.odd {
    background-color: #f0ffe5 !important;
}
.row-warn.even {
    background-color: #ffdfb3 !important;
}
.row-warn.odd {
    background-color: #ffe5c2 !important;
}
.row-error.even {
    background-color: #ffcccc !important;
}
.row-error.odd {
    background-color: #ffdbdb !important;
}
.dataTables-child {
    width: 100%;
    height: 20em;
}

.health-dialog-pass {
    background: #d2f9d2 !important;
}
.health-dialog-fail {
    background: #f9dfd2 !important;
}

.dataTables_filter input {
    width: 40vh;
}

/* User Panel */
.user-row.permitted {
    background-color: #c2f5c2 !important;
}