/*::-webkit-scrollbar {display:none;}*/
html{
        overflow-y: scroll; 

}

#hoverdiv{
    position: fixed;
    visibility: hidden;
    background-color: rgba(255,255,255,.85);
    color: #404040;
    border: 1px solid #999;
    padding: 7px;
}

#displayPanel{
    float:right;
    background-color: #d0d0d0;    
    min-height: calc(50%);
    top: 37px;
    width: 25%;
    position: absolute;
    right:0;
    border-left: 5px solid rgba(0, 0, 0, .05);
    border-bottom: 5px solid rgba(0, 0, 0, .05);
    /*overflow: scroll; */
    z-index: 3;
    
    -webkit-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
}

#displayPanel.closed {
    top: calc(-50% + 60px);
    
    -webkit-transition: top 0.5s ease-in-out;
    transition: top 0.5s ease-in-out;
}

#displayPanel-contents {
    width: 100%;
    height: 100%;
}


#displayPanel-tab {
    background-color: rgba(0, 0, 0, .05);    
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    
    -webkit-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

#displayPanel.closed #displayPanel-tab {
    transform: rotateX(180deg);
    
    -webkit-transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

#displayPanel-actions {    
    bottom: 20px;
    position: absolute;   
}

.urnLink {
    color:blue;
    cursor:pointer;
   overflow: auto; 
   word-wrap: break-word;
}
.clicked {
    color:red;
    text-decoration: underline;
}
.urnLink:hover { }
.urnLink:visited {color:purple }

.panelElementProperty{font-weight:bold;}
.dropDownArrow {cursor:pointer;}
/* Edit loading transition timer below */
#viz{
    width: calc(100% - 210px);
    height: calc(100% - 37px);
    float: right;
    border-left: 20px solid rgba(0, 0, 0, .05);
    
    -webkit-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

#viz.loading {
    /* Make the contents of the body opaque during loading */
    opacity: 0;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
}

#loadingPanel {
    /* Replace #333 with the background-color of your choice */
    /* Replace loading.gif with the loading image of your choice */
    background: #e9e9e9 url('/VersaStack-web/resources/loading-indicator-medium.gif') no-repeat 50% 50%;

    /* Ensures that the transition only runs in one direction */
    -webkit-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
    
    position: absolute;
    width: calc(100% - 225px);
    height: calc(100% - 37px);
    left: 225px;
    top: 37px;
    border-left: 5px solid rgba(0, 0, 0, .05);
}

body{
    width:100%;
    height: 100%;
    margin-top:0px;
}

.treeMenu{
    margin-left:15px;
    text-align: left;
}
#treeMenu {
    min-height:150px;
    max-height:250px;    
    overflow-y:scroll;
         overflow: -moz-scrollbars-vertical;
    clear:both;
    /* webkit scrollbar stuff */
}

#awsButton, #cancelButton {
    float: left;

}

.button-filter-select {
    background-color: rgba(0, 0, 0, .05);
    color: black;
    border-left: 1px solid rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05);
}

.current-filter {
    color: red;
    background-color: rgba(0, 0, 0, .10)
}

#displayName{
    text-align: center;
    visibility: visible;
    padding: 7px;
    width: content-box;
    font-size: 150%;
    overflow-wrap: break-word;
}

#filterPanel {
    position: absolute;
    top: 37px;
    left: 225px;
    border-left: 5px solid rgba(0, 0, 0, .05);
    z-index: 2;
}

#filterPanel-contents {
    background-color: rgba(0, 0, 0, .05);    
    position: relative;
    width: inherit;
    left: 0;
    height: calc(100% - 20px);
}

#taggingsPanel {
    background-color: #e9e9e9;
    position: absolute;
    bottom: 0;
    left: calc(50% - 66px);   
    z-index: 2;
    min-width: 10%;/*30%; */
    min-height: 20%;
    border: 2px solid rgba(0, 0, 0, .05);
    
    -webkit-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out;
}

#taggingsPanel.closed {
    bottom: calc(-2% + 60px);
    
    -webkit-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out;
}

#taggingsPanel-tab {
    background-color: #d0d0d0;
}

#taggingsPanel-contents {}


.label-color-red {background-color:#DC143C;}
.label-color-orange {background-color:#FFA500;}
.label-color-yellow {background-color:#FFD700}
.label-color-blue {background-color:#4169E1;}
.label-color-green {background-color:#98FB98;}
.label-color-purple {background-color:#663399;}

#taggingPanel-colorPanel{
    text-align:left;
}

#taggingPanel-colorPanelTitle {
    margin-left:5px;
}

#tagPagination {
    text-align: center;
}
/*tagging panel list stuff */

#taggingPanel-labelPanel{
    border: 1px rgba(0, 0, 0, .075) solid;    
}

#taggingPanel-labelPanelTitle {
    margin-left: 5px;
    text-align: left;
}
 .taggingPanel-labelList{
     text-align:left;
   padding-left: 0;
  margin-bottom: 20px;
 }
 .taggingPanel-labelItem {
    position: relative;
    color: white;
    display: block;
    /* padding: 10px 15px; */
    padding-left: 20px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    font-weight: bold;
    font-family:Trebuchet MS;
    
/*   position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;*/
 /* border: 1px solid #ddd;*/
 }

/*****for tagging dialog *******/
#taggingDialogBar {
    width:100%;
}
#taggingDialogCloser{
  color:grey;
  cursor:pointer;
  padding-left:80%;
}
#taggingDialogContent {
  margin:auto;
  margin-top:10px;
}
#taggingDialog {
  text-align:center;
  background-color:#EDEDED;
  width:200px;
  height:150px;
  display:none;
  position:absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border: 1px inset #B5B1B1;

}
#taggingDialogButtonContainer {margin-top:18px;}
#taggingDialogColorSelectionTab{
  margin-bottom:5px;
    margin-left:55px;

}
.colorBox {
  margin-right: 0px; 
  float:left;
  width:15px;
  height:15px;
}

#boxRed {background-color:red;}
#boxOrange {background-color:orange;}
#boxYellow {background-color:yellow;}
#boxGreen {background-color:green;}
#boxBlue {background-color:blue;}
#boxPurple {background-color:purple;}
#taggingDialog.taggingDialog-active {display:block;}
.colorBox-highlighted {    border: 2px solid black;}


#taggingPanelColorSelectionTab{
    margin-left: 15px;
   
}
.filteredColorBox{
    margin-right: 1px;
    float: left;
    width: 15px;
    height: 15px;
}
#taggingPanel-colorPanel{
    padding-bottom: 20px;
    border: 1px rgba(0, 0, 0, .075) solid;
}