#hoverdiv{
    position: fixed;
    visibility: hidden;
    background-color: rgba(255,255,255,.85);
    color: #404040;
    border: 1px solid #999;
    padding: 7px;
}

#displayPanel{
    float:right;
    background-color: #d0d0d0;    
    min-height: calc(50%);
    top: 37px;
    width: 25%;
    position: absolute;
    right:0;
    border-left: 5px solid rgba(0, 0, 0, .05);
    border-bottom: 5px solid rgba(0, 0, 0, .05);
    overflow: scroll;
}

#displayPanel-contents {
    padding:5px;
    padding-top: 57px;
}

/* CSS3 Calc for Navbar adjustment */
#viz{
    width: calc(100% - 210px);
    height: calc(100% - 40px);
    float: right;
    border-left: 20px solid rgba(0, 0, 0, .05);
}

body{
    width:100%;
    height: 100%;
    margin-top:0px;
}

.treeMenu{
    margin-left:15px;
    text-align: left;
}

#actionMenu {    
    bottom: 0px;
    position: absolute;
   // right: 0px;
    margin-bottom: 0px;
    overflow: scroll;
}

#awsButton, #cancelButton {
    float: left;

}

.button-filter-select {
    background-color: rgba(0, 0, 0, .05);
    color: black;
    border-left: 1px solid rgba(0, 0, 0, .05);
    border-right: 1px solid rgba(0, 0, 0, .05);
}

.current-filter {
    color: red;
    background-color: rgba(0, 0, 0, .10)
}

#displayName{
    text-align: center;
    visibility: visible;
    padding: 7px;
    width: content-box;
    font-size: 150%;
    overflow-wrap: break-word;
}

#filterPanel {
    position: absolute;
    top: 37px;
    left: 225px;
    border-left: 5px solid rgba(0, 0, 0, .05);
}

#filterPanel-contents {
    background-color: rgba(0, 0, 0, .05);    
    position: relative;
    width: inherit;
    left: 0;
}