#tagPanelColorSelectionTab{
    margin-left: 15px;
   float:left;
}
.filteredColorBox{
    margin-right: 1px;
    float: left;
    width: 15px;
    height: 15px;
}
#tagPanel-colorPanel{
    padding-bottom: 20px;
    border: 1px rgba(0, 0, 0, .075) solid;
}

#labelList-container {
    word-wrap: break-word;
    overflow-y: scroll;
    height: 75%;
}
#tagPanel {
    background-color: #e9e9e9;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    min-width: 10%;
    border: 2px solid rgba(0, 0, 0, .05);
    -webkit-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out;
    height: 50%;
    width: 15%;
}

#tagPanel.closed {
    bottom: calc(-50% + 20px);
    -webkit-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out;
}

#tagPanel-tab {
    background-color: #d0d0d0;
    height: 20px;
}

#tagPanel-contents {height: 100%;}


.label-color-red {background-color:#DC143C;}
.label-color-orange {background-color:#FFA500;}
.label-color-yellow {background-color:#FFD700}
.label-color-blue {background-color:#4169E1;}
.label-color-green {background-color:#009900;}
.label-color-purple {background-color:#663399;}

#tagPanel-colorPanel{
    text-align:left;
}

#tagPanel-colorPanelTitle {
    margin-left:5px;
}
#tagPanel-labelPanel{
    border: 1px rgba(0, 0, 0, .075) solid;    
    
    height: 100%;
    width: 100%;
}

#tagPanel-labelPanelTitle {
    margin-left: 5px;
    text-align: left;
}
 .tagPanel-labelList{
     text-align:left;
   padding-left: 0;
  margin-bottom: 20px;
 }
 .tagPanel-labelItem {
    position: relative;
    color: white;
    display: block;
    /* padding: 10px 15px; */
    padding-left: 20px;
    margin-bottom: -1px;
    border: 1px solid #ddd;
    font-weight: bold;
    font-family:Trebuchet MS;
     
 }

#boxRed {background-color:red;}
#boxOrange {background-color:orange;}
#boxYellow {background-color:yellow;}
#boxGreen {background-color:green;}
#boxBlue {background-color:blue;}
#boxPurple {background-color:purple;}
.colorBox-highlighted {    border: 2px solid black;}
