html,body {
    background-color:#FDF5E6;
}

h1 {
    font-family: Arial,sans-serif;
}

/* Custom container */
.container-full {
    margin: 0 auto;
    width: 100%;
    min-height:100%;
    overflow:hidden;
}

.container-full a {
    text-decoration:none;
}